/*-----Estilos globales movil/tablet/desktop-----*/
@import url('https://fonts.googleapis.com/css?family=Muli|Titillium+Web:400,900&display=swap');

body{
  background-color: #E9EBF0;
}
.muli{
  font-family: 'Muli', sans-serif;
}

.titillium{
  font-family: 'Titillium Web', sans-serif;
}

.titillium-bold{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
}
.container90{
  margin:0 auto;
  max-width:1280px;
  width:90%
}
.container-service{
  margin:0 auto;
  max-width:1280px;
  width:90%
}
.contenido{
    position: relative;
    z-index: 2;
}
.marginbottom0{
  margin-bottom: 0;
}
.margintop0{
  margin-top: 0;
}
.paddingbottom0{
    padding-bottom: 0;
}
.paddingtop0{
    padding-top: 0;
}
.gris-text{
  color: #E9EBF0;
}
.gris{
  background-color: #E9EBF0;
}
.azul-text{
  color: #10A8E5;
}
.azul{
  background-color: #10A8E5;
}
.azulfuerte-text{
  color: #4C505F;
}
.azulfuerte{
  background-color: #4C505F;
}
.transparent{
    color: transparent;
}
a .fb:hover{
  color: #3b5998;
  transition: 0.5s;
}

a .twitter:hover{
  color: #1da1f2;
  transition: 0.5s;
}

a .instagram:hover{
  color: #fcaf45;
  transition: 0.5s;
}
a .mail:hover{
  color: black;
  transition: 0.5s;
}

.btn-floating{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 0;
}
.btn-floating i.whats{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 30px;
}
.slider .slides{
  background-color: transparent !important;
}

.slider .indicators .indicator-item.active{
  background-color: #10A8E5;
}
.slider .indicators .indicator-item{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #4C505F;
  border-radius: 0 !important;
}
.slider{
  margin-top: 10%;
}
.sidenav a h2{
  letter-spacing: 2px;
}
nav{
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.14), 0 0 0 0 rgba(0,0,0,0.12), 0 0 0 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 0 0 rgba(0,0,0,0.14), 0 0 0 0 rgba(0,0,0,0.12), 0 0 0 0 rgba(0,0,0,0.2);
}
.servicios svg{
  fill: #4C505F;
  width: 100px;
}

.servicios svg:hover{
  fill: #10A8E5;
  width: 110px;
  transition: .3s;
  cursor: pointer;
}

svg.active{
  fill: #10A8E5;
}

.tablinks hr{
  display: none;
}

.justify{
  text-align: justify;
}
.simpsa{
  width: 100%;
  height: 170px;
  background-position: center center;
  background-image: url(../images/simpsa.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.simpsa:hover{
  background-image: url(../images/simpsa1.png);
}
.simpsa.active{
  background-image: url(../images/simpsa1.png);
}
.ali{
  width: 100%;
  height: 170px;
  background-position: center center;
  background-image: url(../images/paquetes.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.ali:hover{
  background-image: url(../images/paquetes1.png);
}
.ali.active{
  background-image: url(../images/paquetes1.png);
}
.cloud{
  width: 100%;
  height: 170px;
  background-position: center center;
  background-image: url(../images/cloudbucket.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.cloud:hover{
  background-image: url(../images/cloudbucket1.png);
}
.cloud.active{
  background-image: url(../images/cloudbucket1.png);
}
.bleu{
  width: 100%;
  height: 170px;
  background-position: center center;
  background-image: url(../images/bleu.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.bleu:hover{
  background-image: url(../images/bleu1.png);
}
.bleu.active{
  background-image: url(../images/bleu1.png);
}
.btn{
  border-radius: 50px !important;
}
.input-field label {
  color: #fff;
}
.input-field input[type=text]:focus + label {
  color: #fff;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
.input-field .prefix.active {
  color: #fff;
}
input[type=text]:not(.browser-default), input[type=email]:not(.browser-default),input[type=tel]:not(.browser-default), textarea.materialize-textarea {
  border-bottom: 1px solid #fff;
}
input[type=text]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]),input[type=tel]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label,input[type=tel]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
  color: #fff;
}
.modal{
  background-color: #4C505F !important;
  max-height: 80% !important;
}
/*-----Estilos solo movil-----*/
#body{
  background-color: #E9EBF0;
  position: relative;
  height: 90vh;
  width: 100%;
  display: flex;
}
h2.titillium-bold{
  font-size: 3rem;
}
h1.titillium-bold{
  font-size: 3.5rem;
}
.fondo{
  position: relative;
  background-image: url(../images/head1.png);
  background-size: cover;
  height: 91vh;
  width: 100%;
}
.logo-fondo{
  position: absolute;
  background-image: url(../images/head2.png);
  background-size: cover;
  z-index: 1;
  width: 100%;
  height: 91vh;
}
.logo img{
  width: 80px;
}
.fixed-action-btn{
  right: 78%;
}
.sidenav-trigger{
  margin-left: 5px;
}
.logo-letter{
  display: none;
  position: fixed;
  right: 23px;
  bottom: 20px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}
.btn-floating:hover{
  background-color: #4C505F;
}

.sidenav{
  width: 100%;
  background-color: #E9EBF0;
  height: 90vh;
}
@media only screen and (min-width: 601px){
  .fondo{
      height: 95vh;
      margin-left: -30px;
  }
  .logo-fondo{
      height: 100vh;
  }
  .fixed-action-btn{
      right: 90%;
  }
  .logo img{
      width: 120px;
  }
  .sidenav-trigger{
      margin-left: 10px;
  }
  .logo-letter{
      right: 60px;
  }
  #body{
      position: relative;
      height: 90vh;
      width: 100%;
      display: flex;
  }
  .sidenav{
      width: 50%;
      height: 100vh;
  }
  h2.titillium-bold{
    font-size: 3.56rem;
  }
  h1.titillium-bold{
    font-size: 6rem;
  }
}
@media only screen and (min-width: 993px){
  .btn-floating:hover{
      background-color: #25d366;
      border-radius: 50%;
      transition: 0.5s;
  }
  .sidenav-trigger:hover i{
      color: #10A8E5;
      transition: 0.5s;
  }
  .sidenav a h2:hover{
      color: #10A8E5;
      transition: 0.8s;
  }
  .sidenav-close:hover i{
      color: #10A8E5;
      transition: 0.5s;
  }
  nav a.sidenav-trigger{
    display: block !important;
  }
}

.tabcontent{
  display: none;
}
